@page "/Forms/CreateItem"
@model BountyCraftRazorApp.Pages.Forms.CreateItemModel
@{
    ViewData["Title"] = "Create New Item";
}

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="row">
                    <div class="col">
                        <label class="form-label form-control bg-dark mb-1" style="color: white;" >Item Name:</label>
                        <br />
                        <label class="form-label form-control bg-dark mb-1" style="color: white;">Item Category:</label>
                        <br />
                        <label class="form-label form-control bg-dark mb-1" style="color: white;" >Realm</label>
                        <br />
                        <label class="form-label form-control bg-dark mb-1" style="color: white;" >Recipe</label>
                        <br />
                        <label class="form-label form-control bg-dark mb-1" style="color: white;" >Mold Type</label>
                        <br />
                        <label class="form-label form-control bg-dark mb-1" style="color: white;" >Mold Quantity</label>
                        <br />
                        <label class="form-label form-control bg-dark mb-1" style="color: white;">Stardust Quantity</label>
                        <br />
                        <div class="row">
                            <div class="col">
                                <h5>Alchemy Materials</h5>
                            </div>
                            <div class="col">
                                <p>Has two: <input type="checkbox" class="form-check hasTwoMats" name="HasTwoMats_question" value="0" /></p>
                            </div>
                        </div>
                        <br />
                        <select class="form-select" asp-for="NewItem.FirstAlchemyItem">
                            @foreach (var alch in BountyCraftLibrary.Details.AlchemyMats)
                            {
                                <option value="@alch">@alch</option>
                            }
                        </select>
                        <br />
                        <select class="form-select secondAlchMat" name="secondAlchSelect" asp-for="NewItem.SecondAlchemyItem">
                        @foreach (var alch in BountyCraftLibrary.Details.AlchemyMats)
                        {
                            <option default="" value="@alch">@alch</option>
                        }
                        </select>
                        <br />
                    </div>
                    <div class="col">
                        <input class="form-text form-control" type="text" asp-for="NewItem.Name" placeholder="Enter Item Name here..." />
                        <br />
                        <select class="form-select" asp-for="NewItem.Category">
                            @foreach (var category in BountyCraftLibrary.Details.Categories)
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                        <br />
                        <select class="form-select" asp-for="NewItem.Realm">
                            @foreach (var realm in BountyCraftLibrary.Details.Realms)
                            {
                                <option value="@realm">@realm</option>
                            }
                        </select>
                        <br />
                        <select class="form-select" asp-for="NewItem.Recipe">
                            @foreach (var recipe in BountyCraftLibrary.Details.Recipes)
                            {
                                <option value="@recipe.Key">@recipe.Key</option>
                            }
                        </select>
                        <br />
                        <select class="form-select" asp-for="NewItem.MoldType">
                            @foreach (var mold in BountyCraftLibrary.Details.Molds)
                            {
                                <option value="@mold.Key">@mold.Key</option>
                            }
                        </select>
                        <br />
                        <input class="form-text form-control text-center w-25" type="text" asp-for="NewItem.MoldQuantity" placeholder="0" />
                        <br />
                        <input class="form-text form-control text-center w-25" type="text" asp-for="NewItem.Stardust" placeholder="0" />
                        <br /><br /><br /><br /><br />
                        <input class="form-text form-control text-center w-25" type="text" asp-for="NewItem.FirstAlchemyItemQty" placeholder="0" />
                        <br />
                        <fieldset class="secondAlchMat">
                        <input class="form-text form-control text-center w-25 secondAlchMat" name="secondAlchQty" type="text" asp-for="NewItem.SecondAlchemyItemQty" placeholder="0" />
                        <br />
                        </fieldset>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Create Item</button>
            </form>
        </div>
        <div class="col">
            <h5>Enter Item Information:</h5>
            <p>All fields must be filled out.</p>
        </div>
    </div>
</div>