@model BountyCraft.WebMVC7.Data.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Realm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Realm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoldType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoldType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoldQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoldQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stardust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stardust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstAlchemyItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstAlchemyItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstAlchemyItemQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstAlchemyItemQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondAlchemyItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondAlchemyItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondAlchemyItemQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondAlchemyItemQty)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
